body {
   font-family: courier, sans serif;
   color: white;
   background: black;
}
header {
   width: 500px;
   margin: auto;
}
img {
   width: 100px;
   margin: auto; 
}
footer {
   display: block;
   position: absolute;
   bottom: 0;
   right: 0;
   height: auto;
   width: auto;
   margin: auto;
}